body {
  background-color: #eee;
}

.cl1 {
  text-align: center;
  color: rgb(74, 74, 129);
}
label {
  font-size: 30px;
}
button {
  font-size: 30px;
  background-color: rgb(79, 79, 128);
  color: white;
  border-radius: 10px;
}
input {
  width: 200px;
  height: 30px;
  font-size: 30px;
}
